/* @theme inuits */
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

section {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    background-color:white;
    width: 1024px;
    height: 768px;
    font-size: 36px;
    font-family: 'Open Sans';
    padding: 0;
    margin: 0;
    justify-content: center;
}

ul {
    margin: auto;
    list-style: none;
}

li::before {
    display: inline-block;
    width: 1em;
    content: "•";
    margin-left: -1em;
    color: rgb(0,167,201);
}

p {
    text-align: center;
}

section.title {
    background-image: url('inuits/bg.png');
    background-size: 100%;
    padding-left: 0px;
    justify-content: start;
}

section.title footer, section.contact footer {
    display: none;
}

section.title .front {
    width: 75%;
    margin: auto 0px auto 0px;
}

section.title .front .author {
    background-color: rgba(0,0,0,.7);
    background-image: url('inuits/logo.png');
    background-position: 3% center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 2% 4% 1% 4%;
    font-size: 1em;
    text-align: right;
    color: white;
}

section.title .front .title {
    background-color: rgba(0,167,201,.8);
    margin: 0px;
    padding: 4%;
    font-size: 1.5em;
    text-align: left;
    color: white;
}
section.title .front .location span {
    float: right;
    text-align: right;
}
section.title .front .location {
    background-color: rgba(255,255,255,.9);
    margin: 0px;
    padding: 1% 4% 1% 4%;
    font-size: 0.6em;
    color: black;
    text-align: left;
}

section h1 {
    position: absolute;
    top: 0;
    margin: 0px;
    background: rgb(0,167,201);
    font-size: 1.6em;
    color: white;
    width: 100%;
    padding: 2%;
    text-align: center;
    border-bottom: none;

}

section h2 {
    margin: 0px;
    font-size: 2em;
    color: white;
    width: 100%;
    padding: 2%;
    text-align: center;
}


footer {
    font-size: .6em;
    color: white;
    background: rgb(0,167,201);
    background-image: url('inuits/logo.png');
    background-position: center right ;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0;
    display: block;
    position: fixed!important;
    left: 0px!important;
    bottom: 0px!important;
    width: 96%;
    padding: 2%;
}

section.contact {
    color: white;
    background: rgb(0,167,201);
}
section.contact .left-right{
    padding: 0px 10% 10% 10%;
}

section.contact .left-right .right {
    float: right;
}

section.contact img {
    width: 40%;
    padding: 10% 10% 5% 7%;
    background-color: rgba(1,1,1,0)
}

section.blue {
    background: rgb(0,167,201);
}

pre {

    margin: auto;

}

/*

.slide_footer
display: none

.front


.slide_page
font-size: 24px
color: #777

.slide_inner
p, ul
font-size: 1.5em;
p
text-align: center
ul
padding: 10% 10%

.slide_footer
font-size: .8em
color: white
background: rgb(0,167,201);
background-image: url('../../images/themes/inuits/inuits2-tit.png');
background-position: right center;
background-size: contain;
background-repeat: no-repeat;
margin: 0;
display: block;
padding: 1%;
position: fixed!important;
left: 0px!important;
bottom: 0px!important;
width: 100%;

.markdown-body
font-size: 29px

h1
h2
font-size: 1.3em
border-bottom: none
h3
font-size: 1.1em
h4
font-size: 1.05em
h5
font-size: 1em
h6
font-size: 0.9em

pre
border: 1px solid #999
line-height: 1.15

.slide_wrapper
&[data-template~="contact"] > .slide
color: white
background: rgb(0,167,201);
.left-right
padding: 0px 10% 10% 10%

.right
float: right
.slide_footer
visibility: none
img
width: 40%;
padding: 10% 10% 5% 7%;
background-color: rgba(1,1,1,0)

&[data-template~="blue"] > .slide
&[data-template~="title"] > .slide
font-size: 1em
background-image: url('../../images/themes/inuits/inuits2.png');
background-size: 100%;
padding-left: 0px;

.slide_footer
display: none

.front
width: 75%;
margin: 20% 0px 0px 0px;

.author
background-color: rgba(0,0,0,.7);
background-image: url('../../images/themes/inuits/inuits2-tit.png');
background-position: left center;
background-size: contain;
background-repeat: no-repeat;
margin: 0px;
padding: 4%;
font-size: 1.5em;
text-align: right;
color: white;

.title
background-color: rgba(0,167,201,.7);
margin: 0px;
padding: 4%;
font-size: 2.0em;
text-align: left;
color: white;


img
display: block
margin: auto
*/
